<html lang="en" ng-app="StarterApp">
<head>
    <link rel="stylesheet" href="./vendor/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="./assets/app.css">
    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <meta name="viewport" content="initial-scale=1" />
</head>
<body layout="column" ng-controller="AppCtrl as ctrl" ng-cloak>
<md-toolbar layout="row">
    <md-button ng-click="ctrl.toggleSidenav('left')" hide-gt-sm class="menuBtn">
        <ng-md-icon icon="menu"></ng-md-icon>
    </md-button>
    <h1 class="md-toolbar-tools" layout-align-gt-sm="center">Corporate Learning and Organizational Development</h1>
</md-toolbar>
<div layout="row" flex>
    <md-sidenav layout="column" flex="10" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar class="md-whiteframe-z1">
            <h1>Team</h1>
        </md-toolbar>
        <md-list>
            <md-list-item ng-repeat="it in ctrl.users">
                <md-button ng-click="ctrl.selectUser(it)" ng-class="{'selected' : it === ctrl.selected }">
                    <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                    {{it.name}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
            <div  layout="column" ng-cloak>
                <md-content class="md-padding">
                    <form ng-submit="$event.preventDefault()">
                        <p>Use <code>md-autocomplete</code> to search for matches from local or remote data sources.</p>
                        <md-autocomplete
                                ng-disabled="ctrl.isDisabled"
                                md-no-cache="ctrl.noCache"
                                md-selected-item="ctrl.selectedItem"
                                md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                md-search-text="ctrl.searchText"
                                md-selected-item-change="ctrl.selectedItemChange(item)"
                                md-items="item in ctrl.querySearch(ctrl.searchText)"
                                md-item-text="item.display"
                                md-min-length="0"
                                placeholder="What is your favorite US state?">
                            <md-item-template>
                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                            <md-not-found>
                                No states matching "{{ctrl.searchText}}" were found.
                                <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                            </md-not-found>
                        </md-autocomplete>
                        <br/>
                        <md-checkbox ng-model="ctrl.simulateQuery">Simulate query for results?</md-checkbox>
                        <md-checkbox ng-model="ctrl.noCache">Disable caching of queries?</md-checkbox>
                        <md-checkbox ng-model="ctrl.isDisabled">Disable the input?</md-checkbox>
                        <p>By default, <code>md-autocomplete</code> will cache results when performing a query.  After the initial call is performed, it will use the cached results to eliminate unnecessary server requests or lookup logic. This can be disabled above.</p>
                    </form>
                </md-content>
            </div>
        </md-content>
    </div>
</div>
<!-- Angular Material Dependencies -->
<script src="./vendor/angular/angular.min.js"></script>
<script src="./vendor/angular-animate/angular-animate.min.js"></script>
<script src="./vendor/angular-aria/angular-aria.min.js"></script>
<script src="./vendor/angular-material/angular-material.min.js"></script>
<script src="./vendor/angular-material-icons/angular-material-icons.min.js"></script>
<script src="./index.js"></script>
<script src="./UserService.js"></script>
</body>
</html>